<header class="header top-section">
    <div class="tba-header-dest-index">
        <div class="dest-index-label">
            <h1>DESTINATIONS</h1>
        </div>
        <h3>Where would you like to go?</h3>
    </div>
</header>

<nav class="container-fluid sticky navbar">
    <a href="#top" class="nav__link"><span><i class="fas fa-home"></i></span></a>
    <input type="checkbox" id="nav" class="hidden" />
    <label for="nav" class="nav__open"><i class="fas fa-bars mobile-bar"></i></label>
    <div class="nav">
        <ul class="nav__items">
            <li class="nav__item"><a class="nav__link" href="javascript:void(0);" [routerLink]="['/login']">
               Login</a></li>
            <li class="nav__item"><a href="https://www.google.com/" class="nav__link">About</a></li>
            <li class="nav__item"><a href="https://www.google.com/" class="nav__link">Blog</a></li>
            <li class="nav__item"><a href="https://www.google.com/" class="nav__link">Contact</a></li>
        </ul>
    </div>
</nav>
